<footer class="lbm-footer">

  <div class=siteFooterButtonContainer>
  <span>
    <table border="0" role="presentation">
      <tbody>
        <tr>
          <td><p align="left" tabindex="1">Powered by <a href="https://naturalresources.wales/?lang=en">NRW</a></p></td>
          <td><p align="right" tabindex="3"><a href="#">Top</a></p></td>
        </tr>
      </tbody>
    </table>  
  </span>

  <div class="siteFooterContactButton" align="center" tabindex="2">
    <div class="button-contact-us">
      <a href="mailto:digidol@cyfoethnaturiolcymru.gov.uk?subject=Hello world&body=This is just some text.">Contact us</a>
    </div>
  </div>
</div>

</footer>
