<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{{ include.title | default: site.t[page.lang].title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.redirect %}
  <meta http-equiv="refresh" content="0;URL='{{ page.redirect }}'" /> 
  {% endif %}

  <!-- Favicon -->
  <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="assets/favicons/nrw_logo_device_colour-01.png" />
  <link rel="manifest" href="/manifest.webmanifest">

  <link rel="stylesheet" media="all" href="{{site.baseurl}}/assets/css/app.css" />
</head>
