.button {
  background: var(--accent-colour);
  color: var(--light-text-colour);
  font-weight: bold;
 

  &:hover {
    background: var(--button-hover-colour);
    color: var(--light-text-colour);
  }
}

.button-contact-us {
  background: var(--accent-colour);
  color: #ffffff;
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid;
  height: 49px;
  line-height: 1;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  a:link{
    color: #ffffff;
    text-decoration:none;
    display: block;
    height: 60.6px;
    width: 117.65px;
  }

  &:hover {
    background: var(--button-hover-colour);
    color: var(--light-text-colour);
  }
}