<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en-UK' }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.redirect %}{{ page.title }} | {% endif %}{{ site.t[page.lang].title }}</title>
  <meta name="description" content="{{ page.description | default: site.t[page.lang].description | strip_html | normalize_whitespace | truncate: 160 | escape }}">

  {% if page.redirect %}
  <meta http-equiv="refresh" content="0;URL='{{ page.redirect }}'" /> 
  {% endif %}

 <!-- Favicon -->
 <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
 <link rel="icon" href="/favicon.ico" sizes="any">
 <link rel="icon" type="image/x-icon" href="/assets/favicons/favicon.ico">
 <link rel="icon" href="/assets/favicons/favicon.svg" type="image/svg+xml">
 <link rel="icon" href="assets/favicons/nrw_logo_device_colour-01.png" />
 <link rel="manifest" href="/manifest.webmanifest">

 <link rel="stylesheet" media="all" href="{{site.baseurl}}/assets/css/app.css" />
 <script>
/**
* The link that triggers the
* back to top behaviour.
* @type {HTMLElement}
*/
const backToTopButton = document.querySelector('[data-js-hook="back-to-top-button"]');

/**
* A list of all focusable elements
* on the page.
* @type {NodeList}
*/
const focusableElements = document.querySelectorAll('button, a, input, select, textarea, [tabindex]:not([tabindex="-1"])');

/**
* The options used in the native
* scrollTo method.
* @type {Object}
*/
const scrollOptions = {
 top: 0,
 left: 0,
 behavior: 'smooth'
};

/**
* Whether the device supports
* smooth scroll, or not.
* @type {Boolean}
*/
const supportsNativeSmoothScroll = 'scrollBehavior' in document.documentElement.style;

/**
* Handles moving the user back to the
* top of the document.
* @param event the event object passed in when
* clicking on the button / link.
*/
function moveToTop(event) {
 event.preventDefault();

 // Scroll to top.
 supportsNativeSmoothScroll ? window.scrollTo(scrollOptions) : window.scrollTo(scrollOptions.left, scrollOptions.top);

 // Focus the first focusable element.
 focusableElements[0].focus({
   preventScroll: true,
 })
}

backToTopButton.addEventListener('click', moveToTop);

 </script>

  <!-- Styles -->
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i%7CNoto+Serif:400,400i,700,700i&display=swap" rel="stylesheet">
  <link rel="stylesheet" media="all" href="{{site.baseurl}}/assets/css/style.css" />
</head>
<body class="lang-{{page.lang}}">
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

  <header class="app-top-bar">
    {% if page.url == "/" %}
    <h3 class="app-title site-title">{{site.t[page.lang].title}}</h3>
    {% else %}
    <h3 class="app-title site-title"><a class="logo-text" href="{{ site.baseurl }}/">{{site.t[page.lang].title}}</a></h3>
    {% endif %}

    {% if page.is_post %}
    {% include language-switcher.html pages=site.posts %}
    {% else %}
    {% include language-switcher.html pages=site.pages %}
    {% endif %}

    <input type="checkbox" id="tm" class="app-menu__checkbox">
		<label for="tm" class="tm app-menu__toggle"><span>{{ site.t[page.lang].menu | capitalize }}</span></label>
    <nav class="app-nav">
      <ul class="app-menu">
        {% for item in site.navigation %}
        {% assign current = nil %}
        {% if page.url == item.url %}
        {% assign current = 'app-menu-item--current' %}
        {% endif %}
        <li class="app-menu-item {{ current }}">
          <a class="{{ current }}" href="{{ site.t[page.lang].root }}{{ item.url }}">{{ item[page.lang] | capitalize }}</a>
        </li>
        {% endfor %}        
      </ul><!-- .menu -->
    </nav>
    
  </header>
  {{ content }}

</body>
</html>